<div class="center hero-unit">
          <br>
          <br>
  <h1>Welcome,</h1>    
            <% if signed_in? %>
  <h3> <%= current_user.first_name %>  <%= current_user.last_name %>    </h3>

          <% end %>
  <h2>
     Upload your Projects on sysomics, a repository for your omics data
     <h2>
	


 
</div>
