<div class="center hero-unit">
  <h1>Welcome to sysomics</h1>

  <h2>
    This is the home page for sysomics repository

  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("sysomics.jpg", alt: "sysomics"), 'http://sysbio.se/' %>