<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_processing_type.name %>
</p>

<%= link_to 'Edit', edit_data_processing_type_path(@data_processing_type) %> |
<%= link_to 'Back', data_processing_types_path %>
