<h1>Show organism</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organism.name %>
</p>

<%= link_to 'Edit', edit_organism_path(@organism) if current_user.is_admin? %> |
<%= link_to 'Back', organisms_path %>
