<h1>Show tissue</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tissue.name %>
</p>

<%= link_to 'Edit', edit_tissue_path(@tissue) if current_user.is_admin? %> |
<%= link_to 'Back', tissues_path %>
