<h1>Show dataset type</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_set_type.name %>
</p>

<%= link_to 'Edit', edit_data_set_type_path(@data_set_type)  %> |
<%= link_to 'Back', data_set_types_path %>
